.post_list{}

.post_item{
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 400px;
    background-size: cover;

    .image{
        img{
            width: 100%;
        }
    }
    .title {}
    .description {}

    .btn {}
}
