[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
typing = "*"
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
python-multipart = "*"
psycopg2 = "*"
psycopg2-binary = "*"
databases = "*"
asyncpg = "*"
pytest = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
